:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --third-text-color: #ffffff;
  --primary-bg-color: #2f303a;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --logo-header-color: #000000;
  --btn-bg-color: #f5f4fa;
  --border-color: #eeeeee;
  --icon-primary-color: #afb1b8;
}
