.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--primary-bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-wrapper {
  &:not(:last-child) {
    margin-right: 70px;
  }
}

.footer-adress {
  width: 231px;
  @include font(14px, 24px);
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  color: var(--third-text-color);
}

.footer-list__item {
  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer-list__link {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-list__link_color_white {
  color: var(--third-text-color);
}
